{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:import/recommended",
    "airbnb-base",
    "plugin:vue/strongly-recommended",
    "plugin:jsdoc/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "linebreak-style": "off",
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": "warn",
    "arrow-body-style": "off",
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "jsdoc/newline-after-description": "off",
    "jsdoc/require-returns-description": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}
