{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:import/recommended",
    "airbnb-base",
    "plugin:vue/strongly-recommended",
    "plugin:jsdoc/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}