@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "colors";
@import "layout";
@import "mixins";

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-5;
    background-color: $color-2;
}