@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "variables";
@import "mixins";

html, body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $color-5;
    background-color: $color-2;
}

/** Global classes */
.slide-enter-active, .slide-leave-active {
    transition: all .3s;
}

.slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}