@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $black;
    background-color: $color-2;
}