/** Harman sans **/

/** COLORS **/
$color-0: #000000;
$color-1: #FFFFFF;
$color-2: #F7F4F3;
$color-3: #C0C0C0;
$color-4: #F67571;
$color-4-1: #C45D5A;
$color-5: #403F4C;

$alert_info: #1A8FE3;
$alert_success: #119DA4;
$alert_error: #CB0104;
$alert_warning: #F9A620;

/** LAYOUT **/
$navbarHeight: 80px;
$alertWidth: 320px;

$paddingForms: 15px;

$mobile: 768px;
$mobileXS: 576px;