/** COLORS **/
$white: #FFFFFF;
$gray: #C0C0C0;
$black: #403F4C;
$orange: #F67571;

$color-0: #403F4C;
$color-1: #FFFFFF;
$color-2: #F7F4F3;
$color-3: #C0C0C0;
$color-4: #F67571;
$color-5: #403F4C;

/** Harman sans **/